{
  "extends": [
    "eslint:recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "semi": 2,
    "import/no-unresolved": 0,
    "no-console": 1,
    "no-debugger": 2,
    "no-var": 2,
    "no-trailing-spaces": 1,
    "no-unused-vars": 0
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
